<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devin.uniontalk.message.mapper.MessageAgentExtensionMapper">

    <select id="lockAgentRun" resultType="java.lang.Integer">
        SELECT 1
        FROM pg_advisory_xact_lock(
            hashtextextended(CONCAT('agent-reply:', #{agentRunId}), 0)
        )
    </select>

</mapper>
