.git
.gitignore
.idea
.vscode
.DS_Store
.claude
.codex

target/*
**/target/*
!union-talk-gateway/target/*.jar
!union-talk-auth/target/*.jar
!union-talk-websocket/target/*.jar
!union-talk-core/union-talk-user/target/*.jar
!union-talk-core/union-talk-message/target/*.jar
!union-talk-core/union-talk-file/target/*.jar

*.iml
*.iws
*.ipr

*.log
logs
tmp
temp

.env.local
docs/docker/.env.local
